---
---

<div class="relative flex flex-col items-center w-full text-black py-[100px]">
  <h1
    class="pt-4 mx-auto mb-0 text-2xl text-center font-black bg-clip-text text-transparent bg-gradient-to-r from-slate-900 via-slate-800 to-zinc-900 xl:pt-6 sm:text-[6rem] lg:text-[7rem] leading-none"
  >
    Obtén un sitio web <span class="text-blue-500">profesional</span> a precio emprendedor
  </h1>
  <p class="text-gray-500 text-2xl py-5">
    Bienvenidos a un nuevo horizonte de oportunidades digitales
  </p>
  <div class="mt-5">
    <a
      class="bg-blue-500 hover:bg-blue-600 text-white font-bold rounded cursor-pointer py-4 px-10"
    >
      Contáctanos ahora
    </a>
  </div>
</div>
