---
interface Props {
  title: string;
  description: string;
  img: string;
}

const { title, description, img } = Astro.props;
---

<div>
  <svg
    style="width: 0; height: 0;"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 32 32"
  >
    <defs>
      <linearGradient id="half" x1="0" x2="100%" y1="0" y2="0">
        <stop offset="100%" stop-color="#fed94b"></stop>
        <stop offset="100%" stop-color="#f7f0c3"></stop>
      </linearGradient>

      <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" id="star">
        <path
          d="M31.547 12a.848.848 0 00-.677-.577l-9.427-1.376-4.224-8.532a.847.847 0 00-1.516 0l-4.218 8.534-9.427 1.355a.847.847 0 00-.467 1.467l6.823 6.664-1.612 9.375a.847.847 0 001.23.893l8.428-4.434 8.432 4.432a.847.847 0 001.229-.894l-1.615-9.373 6.822-6.665a.845.845 0 00.214-.869z"
        ></path>
      </symbol>
    </defs>
  </svg>
</div>

<div class="box-details">
  <div class="stars">
    <p class="star-rating" aria-label="5 stars out of 5">
      <svg class="c-star active" width="32" height="32" viewBox="0 0 32 32">
        <use xlink:href="#star"></use>
      </svg>
      <svg class="c-star active" width="32" height="32" viewBox="0 0 32 32">
        <use xlink:href="#star"></use>
      </svg>
      <svg class="c-star active" width="32" height="32" viewBox="0 0 32 32">
        <use xlink:href="#star"></use>
      </svg>
      <svg class="c-star active" width="32" height="32" viewBox="0 0 32 32">
        <use xlink:href="#star"></use>
      </svg>
      <svg class="c-star active" width="32" height="32" viewBox="0 0 32 32">
        <use xlink:href="#star" fill="url(#half)"></use>
      </svg>
    </p>
  </div>

  <div class="details-reviews">
    <img src={img} alt="avatar" width={100} height={100} />
    <div class="description">
      <h4>{title}</h4>
      <p class="text-stone-500">
        {description}
      </p>
    </div>
  </div>
</div>

<style>
  /* stars */
  .box-details {
    width: 600px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 20px;
    font-family: "Helvetica", sans-serif;
  }
  /* cajas */
  .details-reviews {
    display: flex;
    align-items: flex-start; /* Alineación vertical */
    margin-bottom: 20px; /* Espacio entre cajas de comentarios */
  }

  .details-reviews p {
    font-size: 14px;
    margin: 0px;
  }
  .details-reviews img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }

  .description {
    display: flex 1;
  }
  .description h4 {
    font-size: 16px;
    max-width: 500px;
  }

  .star-rating {
    display: flex;
    justify-content: flex-end;
  }

  .star-rating span {
    font-size: 28px;
    margin-right: 11px;
    color: #70757a;
  }

  .star-rating {
    margin: 0;
  }
  .c-star {
    width: var(--size, 22px);
    height: var(--size, 22px);
    fill: lightgrey;
  }
  .c-star.active {
    fill: #fed94b;
  }
</style>
